
[submodule "src/global"]
	path = src/global
	url = https://github.com/phil-stein/global.git
[submodule "src/phys"]
	path = src/phys
	url = https://github.com/phil-stein/phys.git
[submodule "src/text"]
	path = src/text
	url = https://github.com/phil-stein/text.git
[submodule "src/serialization"]
	path = src/serialization
	url = https://github.com/phil-stein/serialization.git
