# executables
*.exe

# c object files
*.o

# vim-files
*~
*.swp
*.swo

# rar-files
*.rar
*.zip

# vs files
/.vs
/vs2019

# custom files
*.tex
*.mesh
*.pack

# trace.log
trace.log
_bin/trace.log

# build folder
_build/*
!_build/*/*.cap     # renderdoc
!_build/*/*.a       # libraries
!_build/*/*.bat     # batch files
!_build/*/CMakeLists.txt
!_build/*/*/CMakeLists.txt

# .cache folder 
.cache/*

