# executables
*.exe

# c object files
*.o

# vim-files
*~
*.swp
*.swo

# rar-files
*.rar
*.zip

# vs files
/.vs
/vs2019

# custom files
*.tex
*.mesh
*.pack

# trace.log
trace.log
_bin/trace.log

# build folder
_build/*
!_build/*/*.cap     # renderdoc
!_build/*/*.a       # libraries
!_build/*/*.bat     # batch files
!_build/*/CMakeLists.txt
!_build/*/*/CMakeLists.txt

# _build/external/*
# 
# _build/flecs/*
# !_build/flecs/CMakeLists.txt
# 
# _build/bovengine/*
# !_build/bovengine/*.a       
# !_build/bovengine/CMakeLists.txt
# 
# _build/game/*
# !_build/game/CMakeLists.txt
# 
# _build/editor/*
# !_build/editor/CMakeLists.txt
# 
# !_build/*/*.cap     # renderdoc
# !_build/*/*.a       # libraries

