# executables
*.exe

# c object files
*.o

# vim-files
*~
*.swp
*.swo

# rar-files
*.rar
*.zip

# vs files
/.vs
/vs2019

# custom files
*.tex
*.mesh
*.pack

# trace.log
trace.log
_bin/trace.log

# libs folder
_libs/win64/Debug/*
_libs/win64/Release/*
_libs/win64/libfisch.a
_libs/win64/libfisch_*.a

# build folder
_build/*
!_build/*/*.bat   # batch files
!_build/*.bat     # batch files
!_build/*/CMakeLists.txt
!_build/*/*/CMakeLists.txt
!_build/*/*.cmake
!_build/*/*/*.cmake

# .cache folder 
.cache/*

compile_commands.json
